<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 목록</title>
</head>
<body>
<div class="container">
  <h1>회원 목록</h1>
  <table border="1">
    <thead>
    <tr>
      <th>이름</th>
      <th>전화번호</th>
      <th>이메일</th>
      <th>생일</th>
      <th>주소</th>
      <th>교회</th>
      <th>직업</th>
      <th>가입일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
      <td th:text="${member.name}"></td>
      <td th:text="${member.phone}"></td>
      <td th:text="${member.email}"></td>
      <td th:text="${member.birthday}"></td>
      <td th:text="${member.address}"></td>
      <td th:text="${member.church}"></td>
      <td th:text="${member.job}"></td>
      <td th:text="${member.timestamp}"></td>
    </tr>
    </tbody>
  </table>

  <a th:href="@{/home}">home</a>
</div>
</body>
</html>
