<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>회원가입</title>
</head>
<body>
<h1>회원 가입</h1>
<form action="/members" method="post">
  이름: <input type="text" name="name"><br>
  전화번호: <input type="text" name="phone"><br>
  이메일: <input type="text" name="email"><br>
  생일: <input type="text" name="birthday"><br>
  주소: <input type="text" name="address"><br>
  교회: <input type="text" name="church"><br>
  직업: <input type="text" name="job"><br>
  <button type="submit">가입</button>

</form>
</body>
</html>
