<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
 .main{
        margin: auto 0;
    position: absolute;
    display: grid
;
    text-align: right;
    align-items: center;
    align-content: center;
    }
</style>
<body>
    <h1>스쿨 등록 접수 시스템</h1>
    <p>접수 등록</p>
    <div class="main">
        <p>이름
            <input type="text"/>
        </p>
        <p>성별
            <input type="text"/>
        </p>
        <p>연락처
            <input type="text"/>
        </p>
        <p>이메일
            <input type="text"/>
        </p>
        <p>생년월일
            <input type="text"/>
        </p>
        <p>나라
            <input type="text"/>
        </p>
        <p>주소
            <input type="text"/>
        </p>
        <p>출석교회
            <input type="text"/>
        </p>
        <p>교단
            <input type="text"/>
        </p>
        <p>담임목사
            <input type="text"/>
        </p>

        <p>직업
            <input type="text"/>
        </p>

        <input type="submit" value="등록">
    </div>
</body>
</html>