<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>

    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <h1>관리자 로그인으로 바꿀 예정</h1>
    <form th:action="@{/login}" method="post">
        <div><label> User Name: <input type="text" name="username"> </label></div>
        <div><label> Password: <input type="password" name="password"> </label></div>
        <div><input type="submit" value="Sign In"> </div>
    </form>

    <a th:href="@{/member/join}">신청 하로 가기</a>
</body>
</html>